@charset "utf-8";
/* CSS Document */


	body{
	background-image: url(assets/andrew-hoang-wmN9LaLufCY-unsplash.jpg)
.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
